{{ $is_remote := hasPrefix .Destination "http" }}
{{ $resizable := slice "jpg" "jpeg" "png" }}

<!-- Remove relative prefixed if defined -->
{{ $destination := strings.TrimLeft "./" .Destination }}

{{ $layout := "" }}
{{ $width := "" }}
{{ $height := "" }}
{{ $url := "" }}
{{ $image := "" }}

{{ if $is_remote }}
  {{ $layout = "fill" }}
  {{ $width = "1000" }}
  {{ $height = "500" }}
  {{ $url = $destination }}
{{ else }}
  {{ $image = (.Page.Resources.GetMatch $destination) }}
  {{ if ne $image nil }}
    {{ $layout = "intrinsic" }}
    {{ if in $resizable $image.MediaType.SubType }}
    {{ $image = cond (gt $image.Width 970) ($image.Resize "970x q100 Lanczos") ($image.Resize (print $image.Width "x q100 Lanczos")) }}
    {{ end }}
    {{ $width = $image.Width }}
    {{ $height = $image.Height }}
  {{ end }}
{{ end }}

{{- if not (eq $url nil) -}}
<figure class="md-image text-center {{ if $is_remote }}contain{{ end }}">
  {{ if $is_remote }}
  <img class="img-fluid" src="{{$url}}" alt="{{.PlainText}}" title="{{(.Title | markdownify | plainify )}}" />
  {{else}}
  {{ partial "img" (dict "src" $image "width" $width "height" $height "layout" $layout "alt" .PlainText "title" (.Title | markdownify | plainify )) }}
  {{end}}
  <figcaption>{{ .Title | markdownify }}</figcaption>
</figure>
{{ end }}