# default is tech team
* @moul @alexsland @cdeleeuwe

# design
/bertyart/layouts @moul @alexsland @cdeleeuwe @pierreboc @nellyasher
/bertytech/layouts @moul @alexsland @cdeleeuwe @pierreboc @nellyasher
/bertyart/assets @moul @alexsland @cdeleeuwe @pierreboc @nellyasher
/bertytech/assets @moul @alexsland @cdeleeuwe @pierreboc @nellyasher

# content
/bertytech/content @moul @alexsland @pierreboc @nellyasher
/bertyart/content @moul @alexsland @pierreboc @nellyasher
