{{.Scratch.Set "body-class" "page-single wh"}}
{{ partial "head" . }}

<header class="header-rounded large bg-blue gradient bg-jobs">
  <div class="container text-center">
    <h1 class="text-shadow">{{.Title}}</h1>
    <h3 class="text-shadow subtitle">{{.Params.Subtitle}}</h3>
  </div><!-- /.container -->
</header>

<div class="content">
  <div class="container">
    <section class="section-jobs-info">
      <div class="row">
        <div class="col-12 text-center">
          <p>Careers at Berty</p>
          <p>There are currently no jobs open for the moment.</p>
        </div>
      </div>
    </section>

    {{ partial "section_values" . }}

    </div><!-- /.container -->
</div>

{{ partial "footer" . }}
