      <div class="block block-wi text-center bg-white">
		<div class="block-wi-img s">
			{{ partial "img" (dict "ctx" . "src" (resources.Get "/img/icon_early_look.svg") "width" "120" "height" "120") }}
		</div><!-- /.block-wi-img -->
		<h2>Early look</h2>
		<p>Access to github repositories, download a preview version of the app...</p>
	  <a class="btn btn-bty btn-pink icon-right" href="https://crpt.fyi/berty-preview" role="button">Apply for the preview<i class="far fa-arrow-right"></i></a>
      </div><!-- /.block-wi -->