{{ $res := resources.Get "js/obs-email.js" }}
{{ $src := cond (eq (getenv "BERTY_IPFS") "true") $res.RelPermalink $res.Permalink }} 
<amp-script layout="flex-item" src="{{ $src }}">
	<a class="block block-action bg-blue bg-gradient bg-question sendto-{{ `hello@berty.tech` | base64Encode }} sendsubject-{{ T `request_a_talk` . | base64Encode }}">
		<h4><i class="fal fa-presentation left"></i>{{ T "request_a_talk" . }}<i class="far fa-chevron-right right"></i></h4>
	</a><!-- /.block -->
</amp-script>