<ul class="nav nav-social">
  <li class="nav-item item-matrix">
    <a class="nav-link" href="https://crpt.fyi/berty-matrix" target="_blank" rel="noopener" aria-label="Matrix">
      <div class="fake-icon">
        {{ partial "img" (dict "ctx" . "src" "/img/icon_matrix.svg" "width" "25" "height" "25") }}
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://crpt.fyi/berty-discord" target="_blank" rel="noopener" aria-label="Discord">
      <i class="fab fa-discord"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://twitter.com/berty" target="_blank" rel="noopener" aria-label="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/berty" target="_blank" rel="noopener" aria-label="Github">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://medium.com/berty-tech" target="_blank" rel="noopener" aria-label="Medium">
      <i class="fab fa-medium"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/company/berty" target="_blank" rel="noopener" aria-label="Linkedin">
      <i class="fab fa-linkedin"></i>
    </a>
  </li>
</ul>
