{{ $is_404 := eq .Kind "404" }}

<nav class="navbar navbar-expand-md navbar-dark{{with .Scratch.Get "navbar-class"}} {{.}}{{end}}">
    <div class="container">
        <a class="navbar-brand" href="{{ cond $is_404 (absURL `/`) `/` }}">
            {{ partial "img" (dict "ctx" . "class" "img-berty" "width" "150" "height" "45" "alt" "Berty Technologies" "src" "/img/berty_mono.svg")}}
        </a>
        <button on="tap:sidebar.open" class="navbar-toggler" type="button" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <i class="far fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">

          {{ $res := resources.Get "js/amp-navbar.js" }}
          {{ $src := cond (eq (getenv "BERTY_IPFS") "true") $res.RelPermalink $res.Permalink }}
          <amp-script layout="container" src="{{ $src }}" style="opacity: 1;">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="d-difference" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Our products<i class="far fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="d-difference">
                      <!--
                      <div class="dropdown-item h">
                        <span class="title">The privacy-first messenger</span>
                      </div>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item l" href="#">
                        <i class="fal fa-lock-alt c-blue"></i>
                        <span class="title">Security</span>
                        <span class="subtitle">Anonymous account, E2E encryption...</span>
                      </a>
                      <a class="dropdown-item l" href="/docs/white-paper">
                        <i class="fal fa-file-alt c-blue"></i>
                        <span class="title">White Paper</span>
                        <span class="subtitle">The vision behind the Berty project</span>
                      </a>-->
                      {{ $url := relLangURL "/wesh" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <img src="/img/wesh.svg" alt="Wesh Network">
                        <span class="title">Wesh Network</span>
                        <span class="subtitle">Wesh Network is an open source, wild & asynchronous mesh network protocol powered<br> by Berty Technologies’ non-profit organisation.</span>
                      </a>
                      {{ $url := relLangURL "/messenger" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <img src="/img/berty-messenger.svg" alt="Berty Messenger">
                        <span class="title">Berty messenger</span>
                        <span class="subtitle">Built on the Wesh Network protocol, is a concrete demonstration of Berty Technologies’<br> pledge to privacy in the realm of decentralization.</span>
                      </a>
                      <!-- {{ $url := relLangURL "/features" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-stars c-blue"></i>
                        <span class="title">Features</span>
                        <span class="subtitle">Group conversations, offline messaging...</span>
                      </a>
                      {{ $url := relLangURL "/challenges" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-rocket c-blue"></i>
                        <span class="title">Challenges</span>
                        <span class="subtitle">Technicals, humans and more</span>
                      </a>
                      {{ $url := relLangURL "/faq" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-question-circle c-blue"></i>
                        <span class="title">FAQ</span>
                        <span class="subtitle">Frequently asked questions</span>
                      </a>
                      {{ $url := relLangURL "/compare" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-laptop-code c-blue"></i>
                        <span class="title">Compare</span>
                        <span class="subtitle">Why Berty is different</span>
                      </a> -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="d-developers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Developers<i class="far fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="d-developers">
                      <!-- {{ $url := relLangURL "/docs" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-book c-blue"></i>
                        <span class="title">Docs</span>
                        <span class="subtitle">Technical documentations</span>
                      </a> -->
                      {{ $url := relLangURL "/docs#projects" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="far fa-cubes c-blue"></i>
                        <span class="title">Our Projects</span>
                        <span class="subtitle">Go-IPFS-Log, Go-Orbit-DB...</span>
                      </a>
                      {{ $url := relLangURL "/contribute" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-code-branch c-blue"></i>
                        <span class="title">Contribute</span>
                        <span class="subtitle">Developer, crypto specialist, translator...</span>
                      </a>
                      <!-- {{ $url := relLangURL "/contribute#projects-we-love" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-heart c-blue"></i>
                        <span class="title">Projects we love</span>
                        <span class="subtitle">IPFS, 42, Paris P2P...</span>
                      </a> -->
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item f" href="https://github.com/berty" target="_blank" rel="noopener">
                        <i class="fab fa-github c-fakeblack"></i>
                        <span class="title">View source code on Github</span>
                      </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="d-resources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources<i class="far fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="d-resources">
                      <!-- {{ $url := relLangURL "/about" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-home c-blue"></i>
                        <span class="title">About us</span>
                        <span class="subtitle">We're a small NGO</span>
                      </a> -->
                       {{ $url := relLangURL "/contribute#projects-we-love" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <img src="/img/icon-partners.svg" alt="Partners">
                        <span class="title">Partners</span>
                        <span class="subtitle">They trusted us</span>
                      </a>
                      <div class="d-flex nav-block-partners">
                        <a href="https://ipfs.tech/" target="_blank" rel="noopener noreferrer">
                          <img src="/img/img-ipfs.png" alt="IPFS">
                          <p>IPFS</p>
                        </a>
                        <a href="https://42.fr/" target="_blank" rel="noopener noreferrer">
                          <img src="/img/img-42.png" alt="42">
                          <p>42</p>
                        </a>
                        <a href="https://p2p.paris/en/" target="_blank" rel="noopener noreferrer">
                          <img src="/img/img-paris-p2p.png" alt="ParisP2P">
                          <p>ParisP2P</p>
                        </a>
                        <a href="https://protocol.ai/" target="_blank" rel="noopener noreferrer">
                          <img src="/img/img-protocol-labs.png" alt="Protocol Labs">
                          <p>Protocol Labs</p>
                        </a>
                      </div>
                      {{ $url := relLangURL "https://berty.crew.work/jobs" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}"  target="_blabk">
                        <i class="fal fa-laptop-code c-blue"></i>
                        <span class="title">Jobs</span>
                        <span class="subtitle">Our open positions</span>
                      </a>
                      <!--<a class="dropdown-item l" href="/help">
                        <i class="fal fa-life-ring c-pink"></i>
                        <span class="title">Help center</span>
                        <span class="subtitle">Tutorials & more</span>
                      </a>-->
                      {{ $url := relLangURL "/newsletter" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-envelope-open-text c-blue"></i>
                        <span class="title">Newsletter</span>
                        <span class="subtitle">Subscribe and read previous issues</span>
                      </a>
                      {{ $url := relLangURL "/contact" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-paper-plane c-blue"></i>
                        <span class="title">Contact</span>
                        <span class="subtitle">Get in touch with us</span>
                      </a>
                      {{ $url := relLangURL "/press" }}
                      <a class="dropdown-item l" href="{{ cond $is_404 (absURL $url) $url }}">
                        <i class="fal fa-newspaper c-blue"></i>
                        <span class="title">Press</span>
                        <span class="subtitle">Press documents and medias</span>
                      </a>
                      <a class="dropdown-item l" href="https://berty-tech.myshopify.com/">
                        <i class="fal fa-store c-blue"></i>
                        <span class="title">Boutique</span>
                        <span class="subtitle">Buy t-shirts and goodies</span>
                      </a>
                      <a class="dropdown-item l" href="https://assets.berty.tech/">
                        <i class="fal fa-photo-video c-blue"></i>
                        <span class="title">Assets</span>
                        <span class="subtitle">Logos, icons, pictures...</span>
                      </a>
                      <!--<div class="dropdown-divider"></div>
                      <a class="dropdown-item l ff" href="/download">
                        <i class="fal fa-arrow-circle-down c-blue"></i>
                        <span class="title">Download app</span>
                        <span class="subtitle">Berty App for iOS, android, desktop...</span>
                      </a>-->
                    </div>
                </li>
                {{ $url := relLangURL "/community" }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ cond $is_404 (absURL $url) $url }}">Community</a>
                </li>
                {{ $url := relLangURL "/blog" }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ cond $is_404 (absURL $url) $url }}">Blog</a>
                </li>
            </ul>
          </amp-script>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
