{{ $current := . }}
{{- with $.Params.image -}}
{{- $img := $.Page.Resources.GetMatch $.Params.image -}}
{{- if ne $img.MediaType.SubType "gif" -}}
{{- $img = $img.Resize "1312x" -}}
{{- end -}}

{{ if $current.Params.video_thumbnail }}
<amp-video width="700" height="400" layout="responsive" autoplay loop>
	<source src="{{ ($current.Resources.GetMatch $current.Params.video).RelPermalink }}" type="video/mp4" />
	<div fallback>
		{{ partial "img" (dict "ctx" $current "class" "rounded" "src" $img "width" $img.Width "height" $img.Height) }}
	</div>
</amp-video>
{{ else }}
	{{ partial "img" (dict "ctx" $current "class" "rounded" "src" $img "width" $img.Width "height" $img.Height) }}
{{ end }}

{{- end -}}
