{{ $is_404 := eq .Kind "404" }}


{{ if not ($.Scratch.Get "isAmpPage") }}
{{ $jQuery := resources.Get "/js/jquery-3.4.1.min.js" }}
{{ $bootstrap := resources.Get "/js/bootstrap.min.js" }}
{{ $slick := resources.Get "/js/slick.min.js" }}
{{ $particles := resources.Get "/js/particles.min.js" }}
{{ $lazySizes := resources.Get "/js/lazysizes.min.js" }}
{{ $qrcode := resources.Get "/js/qrcode.min.js" }}
{{ $main := resources.Get "/js/main.js" }}
{{ $js := slice $jQuery $bootstrap $slick $particles $lazySizes $qrcode $main | resources.Concat "bundle.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ end }}

<!-- fresh chat -->
<script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "26cd6e22-0e7f-4bc3-9636-54beac8cb39b",
      host: "https://wchat.eu.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.eu.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"Freshdesk Messaging-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>
<!-- end fresh chat -->

</body>
</html>
