{{ $is_404 := eq .Kind "404" }}


{{ if not ($.Scratch.Get "isAmpPage") }}
{{ $jQuery := resources.Get "/js/jquery-3.4.1.min.js" }}
{{ $bootstrap := resources.Get "/js/bootstrap.min.js" }}
{{ $slick := resources.Get "/js/slick.min.js" }}
{{ $particles := resources.Get "/js/particles.min.js" }}
{{ $lazySizes := resources.Get "/js/lazysizes.min.js" }}
{{ $qrcode := resources.Get "/js/qrcode.min.js" }}
{{ $main := resources.Get "/js/main.js" }}
{{ $js := slice $jQuery $bootstrap $slick $particles $lazySizes $qrcode $main | resources.Concat "bundle.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ end }}

</body>
</html>
