    <section class="section-values">
      <div class="section-title">
        <h2>Our values</h2>
      </div>
      <div class="row">
       <div class="col-lg-3 col-md-6">
         <div class="block block-value bg-white">
          <div class="block-value-icon c-blue"><i class="fal fa-clipboard-list-check"></i></div>
          <div class="block-value-text">Done is better&nbsp;<br/>than perfect</div>
         </div>
       </div>
       <div class="col-lg-3 col-md-6">
         <div class="block block-value bg-white">
          <div class="block-value-icon c-yellow"><i class="fal fa-users"></i></div>
           <div class="block-value-text">We win&nbsp;<br/>as a team</div>
         </div>
       </div>
       <div class="col-lg-3 col-md-6">
         <div class="block block-value bg-white">
          <div class="block-value-icon c-blue"><i class="fal fa-robot"></i></div>
           <div class="block-value-text">We are&nbsp;<br/>solution focused</div>
         </div>
       </div>
       <div class="col-lg-3 col-md-6">
         <div class="block block-value bg-white">
          <div class="block-value-icon c-pink"><i class="fal fa-heart"></i></div>
          <div class="block-value-text">We have an&nbsp;<br/>exciting quest!</div>
         </div>
       </div>
     </section>
