<section class="section-features">
  <div class="container">
    <div class="block block-features bg-white">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="block-wi text-center">
            <div class="block-wi-img s c-yellow">
              {{ partial "img" (dict "ctx" . "src" "/img/icon_private.svg"
              "width" "120" "height" "120") }}
            </div>
            <!-- /.block-wi-img -->
            <h2>Private</h2>
            <ul class="list-unstyled">
              <li class="h5">100% anonymous account</li>
              <li class="h5">no email - no phone number</li>
              <!--<li class="h5">No email required</li>-->
            </ul>
          </div>
          <!-- /.block-wi -->
        </div>
        <!-- /.col -->

        <div class="col-lg-3 col-md-6">
          <div class="block-wi text-center">
            <div class="block-wi-img s c-pink">
              <i class="fal fa-lock-alt"></i>
            </div>
            <!-- /.block-co-img -->
            <h2>Secure</h2>
            <ul class="list-unstyled">
              <li class="h5">end-to-end encryption</li>
              <li class="h5">perfect forward secrecy</li>
              <!--<li class="h5">Independently audited</li>-->
            </ul>
          </div>
          <!-- /.block-wi -->
        </div>
        <!-- /.col -->

        <div class="col-lg-3 col-md-6">
          <div class="block-wi text-center">
            <div class="block-wi-img s c-blue">
              {{ partial "img" (dict "ctx" . "src" "/img/icon_distributed.svg"
              "width" "120" "height" "120") }}
            </div>
            <!-- /.block-wi-img -->
            <h2>Distributed</h2>
            <ul class="list-unstyled">
              <li class="h5">...and decentralized</li>
              <li class="h5">peer-to-peer network</li>
              <!--<li class="h5">Fully open source</li>-->
            </ul>
          </div>
          <!-- /.block-wi -->
        </div>
        <!-- /.col -->

        <div class="col-lg-3 col-md-6">
          <div class="block-wi text-center">
            <div class="block-wi-img s c-fakeblack">
              <i class="fab fa-github"></i>
            </div>
            <!-- /.block-co-img -->
            <h2>Open source</h2>
            <ul class="list-unstyled">
              <li class="h5">read it, fork it, improve it</li>
              <li class="h5">
                join us on
                <a
                  href="https://crpt.fyi/berty-discord"
                  target="_blank"
                  rel="noopener"
                  aria-label="Discord"
                >
                  Discord</a
                >
              </li>
            </ul>
          </div>
          <!-- /.block-wi -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.block -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section-features -->
