<section class="section-more">
  <div class="section-bg bg-purple gradient">
    <div class="particles" id="particles-js-2"></div>
    <img src="/img/wave_top_2.svg" class="img img-wave-top" />
    <img src="/img/wave_bottom_2.svg" class="img img-wave-bottom" />
  </div>
  <!-- /.section-bg -->
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>
            We are a nonprofit building tech for humans who build products.
          </h2>
          <!-- <p>The Berty Protocol is based on <a href="https://ipfs.io/" target="_blank" rel="noopener">IPFS</a>, a peer-to-peer hypermedia protocol to make the web faster, safer, and more open</p> -->
        </div>
        <!-- /.col -->
        <div class="col-lg-6">
          <div class="img img-distributed">
            <div id="distributed_web_anim"></div>
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.section-content -->
</section>
