<section class="section-whitepaper">
  <div class="section-bg bg-purple gradient">
      <div class="particles" id="particles-js-3"></div>
      <img src="/img/wave_top_2.svg" class="img img-wave-top">
      <img src="/img/wave_bottom_2.svg" class="img img-wave-bottom">
  </div><!-- /.section-bg -->
  <div class="section-content">
    <div class="container">
      <div class="row justify-content-md-center row-title">
        <h1>Why another messaging app&nbsp;?</h1>
        <br />
        <br />
        <br />
        <h4>Discover how Berty is different & why you're going to use it</h4>
      </div><!-- /.row -->
      <div class="row justify-content-md-center">
        <div class="col">
          <div class="block block-wp block-wp-side block-wp-left">
            <br />
            <h3>
  	    Table of content
            </h3>
            <br /><br />
            <p>
  	    1. Project introduction
            </p>
            <p>
  	    2. A trustable instant messaging
            </p>
            <p>
  	    3. Problem statement
            </p>
            <p>
  	    4. Vision
            </p>
            <p>
  	    5. Lock down your privacy
            </p>
            <p>
  	    6. Core values
            </p>
          </div><!-- /.block-wp -->
        </div><!-- /.col -->
        <div class="col-lg-4 col-md-12">
          <div class="block block-wp block-wp-center text-center">
            <br />
            {{ partial "img" (dict "ctx" . "class" "img-bty" "alt" "Berty Technologies" "src" (resources.Get "/img/berty_logo_square.svg") "width" "200" "height" "216") }}
            <br />
            <br />
            <br />
            <h3>Berty White Paper</h3>
            <h3>v1.O</h3>
            <br />
            <br />
            <br />
            <br />
            <a href="/docs/white-paper" class="btn btn-bty btn-blue">Read the White Paper</a>
          </div><!-- /.block-wp -->
        </div><!-- /.col -->
        <div class="col">
          <div class="block block-wp block-wp-side block-wp-right">
            <div class="inner">
  	    <p>
  	      New instant messaging applications appear every day on the market. Each messenger has its own audience and its special features. Developers and application owners generally put commercial gains first, and criteria such as user anonymity and confidentiality are of secondary importance.
  	    </p>
  	    <p>
  	      However, in the post 9/11 era and since Snowden’s reveal, the world faces a sad reality: all citizens can be subjected to mass surveillance and, even worse, being censored. This is mainly the result of the use of central servers and the lack of data protection. All exchanges pass through the owner company's central server and the company can impose its own policies: accept or reject messages on a file on certain subjects, analyze them or even prohibit certain data. The owner company may be subject to government-initiated pressure, and they may be asked for backdoors to use all the information stored. This observation is the subject of many controversial debates with the common idea that national protection and defense give unlimited power over our private lives.
  	    </p>
            </div>
          </div><!-- /.block-wp -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.section-content -->
</section><!-- /.section-whitepaper -->
