</div><!-- /.container -->

<div id="hero" class="container">
  <section class="section-about">
      <div class="row text-center">
        <div class="col-md-12 mb-5 mb-md-0 justify-content-end">
          <div style="background-color: red; color: white; padding: 2px; margin-bottom: 32px; margin-top: 60px;">
            Warning: the Android app (including apk) is currently unavailable for download and use due to an ongoing essential security update.
          </div>
          <a href="https://play.google.com/store/apps/details?id=tech.berty.android" target="_blank" rel="noopener noreferrer">
            <img src="/img/google-play-logo.png" alt="Google play store" width="200">
          </a>
          <a href="https://apps.apple.com/tt/app/berty/id1535500412" target="_blank" rel="noopener noreferrer">
            <img src="/img/app-store-logo.png" alt="Apple store" width="200">
          </a>
        </div>
      </div>
  </section>
</div>


<section id="subscribe-1" class="section-features-detail section-hwbg bg-grey">
  <div class="container">
    <div class="row text-center">

      <div class="col-md-6 mb-5 mb-md-0">
        <div class="block bg-white h-100">
          <div class="d-flex flex-column py-0">
            <div class="order-2 order-md-1">
              <h3 class="mb-2">
                <strong>No Face, No Name, No Number</strong>
              </h3>
              <h4>No SIM card, No Internet</h4>
              <p>Berty is a messenger that doesn’t require any of your personal data or network connection.</p>
            </div>

            <div class="order-1 order-md-2 mb-4 mb-md-0 mt-md-4">
              {{ $img := .Page.Resources.GetMatch "noface-noname.png" }}
              {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" "200" "height" "62") }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5 mb-md-0">
        <div class="block bg-white h-100">
          <div class="d-flex flex-column py-0">
            <div class="order-2 order-md-1">
              <h3 class="mb-2">
                <strong>Safety by Default</strong>
              </h3>
              <h4>Privacy by Design</h4>
              <p>All conversations are encrypted with end-to-end encryption, in a fully distributed network.</p>
            </div>

            <div class="order-1 order-md-2 mb-4 mb-md-0 mt-md-4">
              {{ $img := .Page.Resources.GetMatch "secure-encryption.png" }}
              {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" "200" "height" "62") }}
            </div>
          </div>
        </div>
      </div>

    </div><!--  /.row -->
  </div><!-- /.container -->
</section>

<section id="subscribe-1" class="section-features-detail section-hwbg bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h3>
          <strong>Berty will be released soon, and fully open-sourced!</strong>
        </h3>
        <p>Be the first to know when the app is released:</p>
      </div><!-- /.col -->
      <div class="col-md-6 d-flex justify-content-center">
        <div id="mc_embed_signup" class="features">
          <form
            action="https://tech.us20.list-manage.com/subscribe/post?u=5ca3993c7f0b8f646dcda714b&amp;id=4d7828715b"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="d-flex flex-column flex-md-row">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                placeholder="your.name@example.com" required>

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_5ca3993c7f0b8f646dcda714b_4d7828715b" tabindex="-1" value="">
              </div>
              <input type="submit" value="I want to know!" name="subscribe" id="mc-embedded-subscribe"
                class="button btn btn-bty btn-blue">
            </div>
          </form>
        </div>
      </div>
    </div><!--  /.row -->
  </div><!-- /.container -->
</section>

<section id="bluetooth" class="section-features-detail bg-grey">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-6 order-2 order-md-1">
        <div class="block-mixed-text">
          <h3>With Bluetooth Low Energy (BLE)<span>, messaging doesn’t require network connection or cell coverage</span></h3>
          <p>Our <a href="{{ `/blog/bluetooth-low-energy/` | relURL }}">article explaining what BLE is</a> and why we chose it</p>
        </div><!-- /.block-mixed-text -->
      </div><!-- /.col -->
      <div class="col-md-6 order-1 order-md-2">
        <div class="block-mixed-img">
          {{ $img := .Page.Resources.GetMatch "using_BLE.png" }}
          {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" $img.Width "height" $img.Height) }}
        </div><!-- /.block-mixed-img -->
      </div><!-- /.col -->
    </div><!--  /.row -->
  </div><!-- /.container -->
</section>

<section id="devices" class="section-features-detail bg-grey">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="block-mixed-img">
          {{ $img := .Page.Resources.GetMatch "available-on-devices.png" }}
          {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" $img.Width "height" $img.Height) }}
        </div><!-- /.block-mixed-img -->
      </div><!-- /.col -->
      <div class="col-md-5">
        <div class="block-mixed-text">
          <h3>Available on any device<span>: iOS, Android</span></h3>
        </div><!-- /.block-mixed-text -->
      </div><!-- /.col -->
    </div><!--  /.row -->
  </div><!-- /.container -->
</section>

<section id="add-contacts" class="section-features-detail bg-white bg-rounded">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <div class="block-mixed-text">
          <h3>Share your details and add contacts <span>via a QR code, public key, or an invite link</span></h3>
        </div><!-- /.block-mixed-text -->
      </div><!-- /.col -->
      <div class="col-md-6 order-1 order-md-2">
        <div class="block-mixed-img">
          {{ $img := .Page.Resources.GetMatch "share-your-details.png" }}
          {{ partial "img" (dict "ctx" . "src" $img.RelPermalink  "width" $img.Width "height" $img.Height) }}
        </div><!-- /.block-mixed-img -->
      </div><!-- /.col -->
    </div><!--  /.row -->
  </div><!-- /.container -->
</section>

<section id="data" class="section-features-detail bg-grey">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="block-mixed-img">
          {{ $img := .Page.Resources.GetMatch "no_servers.png" }}
          {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" $img.Width "height" $img.Height) }}
        </div><!-- /.block-mixed-img -->
      </div><!-- /.col -->
      <div class="col-md-5">
        <div class="block-mixed-text">
          <h3>Peer-to-peer messenger with no servers, no cloud <span>- your data is only stored on the device where Berty is installed and used</span></h3>
        </div><!-- /.block-mixed-text -->
      </div><!-- /.col -->
    </div><!--  /.row -->
  </div><!-- /.container -->
</section>

<section id="secure" class="section-features-detail bg-white bg-rounded">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5 order-2 order-md-1 pr-3 pr-md-5">
        <div class="block-mixed-text">
          <h3>Open-source and fully distributed <span> - no one would be able to access the data or shut the app down, not
            even the developers</span></h3>
          <p>Read more about <a href="{{ `/blog/decentralized-distributed-centralized/` | relURL }}">Centralized vs Decentralized vs Distributed Systems</a></p>
        </div><!-- /.block-mixed-text -->
      </div><!-- /.col -->
      <div class="col-md-6 order-1 order-md-2 pl-3 pl-md-5">
        <div class="block-mixed-img">
          {{ $img := .Page.Resources.GetMatch "fully_distributed.png" }}
          {{ partial "img" (dict "ctx" . "src" $img.RelPermalink  "width" $img.Width "height" $img.Height) }}
        </div><!-- /.block-mixed-img -->
      </div><!-- /.col -->
    </div><!--  /.row -->
  </div><!-- /.container -->
</section>

<section id="subscribe-2" class="section-features-detail bg-white pb-0">
  <div class="container">
    <div class="row flex-column align-items-center">
      <div class="col-md-6 text-center">
        <h3>
          <strong>The future of secure communication is waiting for YOU! …whoever you might be.</strong>
        </h3>
      </div><!-- /.col -->
      <div class="col-md-6 d-flex justify-content-center">
        <div id="mc_embed_signup" class="features">
          <form
            action="https://tech.us20.list-manage.com/subscribe/post?u=5ca3993c7f0b8f646dcda714b&amp;id=4d7828715b"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="d-flex flex-column flex-md-row">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                placeholder="your.name@example.com" required>

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_5ca3993c7f0b8f646dcda714b_4d7828715b" tabindex="-1" value="">
              </div>
              <input type="submit" value="Keep me posted" name="subscribe" id="mc-embedded-subscribe"
                class="button btn btn-bty btn-blue">
            </div>
          </form>
        </div>
      </div>
    </div><!--  /.row -->
  </div><!-- /.container -->
</section>
