<section id="secure" class="section-contact-secure">
  <div class="row">
    <div class="col-12">
		<div class="block block-colored block-contact-secure bg-blue">
			<h2>Contact Berty anonymously and securely</h2>
			<p><strong>Privacy</strong> is at the heart of our project. Therefore, we consider it important, even necessary, that you are able to maintain this anonymity in a secure manner when you wish to contact us for any reason.</p>
			<h3>Contact us by email</h3>
			<p>The fastest way to contact us is to write us an email. However, note that all the @berty.tech email addresses go through Gsuite – we consider our email exchanges non-confidential by default.</p>
			<p><strong>If you wish to enhance email security</strong>, use PGP/GPG encryption technology:</p>
			<div class="block-key">
				<span class="left"><i class="far fa-envelope"></i>Email</span>
				{{ $res := resources.Get "js/obs-email.js" }}
        {{ $src := cond (eq (getenv "BERTY_IPFS") "true") $res.RelPermalink $res.Permalink }} 
				<amp-script class="right" layout="flex-item" src="{{ $src }}">
					<span class="obsinner-{{ `secure@berty.tech` | base64Encode }}"></span>
				</amp-script>
			</div>
			<div class="block-key">
				  <span class="left"><i class="far fa-key"></i>PGP/GPG Key</span>
				  <span class="right"><a href="/0xAB1185CC_pub.asc">0xAB1185CC</a></span>
			</div>
			<div class="block-key">
				  <span class="left"><i class="far fa-fingerprint"></i>Fingerprint</span>
				  <span class="right"><code>DF99 CBFC E596 9160 243E C223 0738 5B26 AB11 85CC</code></span>
			</div>
			<p class="mt"><strong>If you want to skip Gsuite</strong>, you can use our collective protonmail inbox (slower response time).</p>

			<div class="block-key">
				<span class="left"><i class="far fa-envelope"></i>Email</span>
				{{ $res := resources.Get "js/obs-email.js" }}
        {{ $src := cond (eq (getenv "BERTY_IPFS") "true") $res.RelPermalink $res.Permalink }} 
				<amp-script class="right" layout="flex-item" src="{{ $src }}">
					<span class="obsinner-{{ `bertytech@protonmail.com` | base64Encode }}"></span>
				</amp-script>
			</div>
			<div class="block-key">
				  <span class="left"><i class="far fa-key"></i>PGP/GPG Key</span>
				  <span class="right"><a href="/0x41FF3862_pub.asc">0x41FF3862</a></span>
			</div>
			<div class="block-key">
				  <span class="left"><i class="far fa-fingerprint"></i>Fingerprint</span>
				  <span class="right"><code>41FF 3862 1CA0 E86B 3805 D145 8172 3970 E7A5 2E4D</code></span>
			</div>
		</div><!-- /.block -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.section-blocks-3 -->
