


<section class="section-id">
	<div class="container">
		<div class="row justify-content-center">
				<div class="block-loader" id="id-block-loader">
					<img src="../img/berty_loader_dots.gif">
				</div>
		</div>
		<div class="row">
				<div class="col-lg-4 col-md-6 col-md-4 qr-bot">
					<div class="qr-left-col">
						<img src="../img/Bitmap.svg" alt="">
						<h2>Berty is a privacy-first messaging app</h2>
						<p>that works with or without internet access, cellular data or trust in the network</p>
						<a href="/features/" class="qr-ore-btn"><img src="../img/birty white.png" alt="">More about Berty.tech</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="block block-id bg-white display-none" id="id-block-id">
						<div class="block-id-avatar display-none" id="id-initials">
						</div>
						<div class="block-id-name c-name">
							<h2 class="qr-heading">PIERRE</h2>
							<p class="qr-info">sent you a friend request on Berty!</p>
						</div>
						<div class="block-id-qrcode" id="id-qrcode">
							<img class="qr-logo display-none" src="../img/berty-qr-logo.png" alt="">
						</div>
						<div>
							<a id="id-app-link" href="#" target="_blank" class="open-app-button" rel="noopener noreferrer">OPEN IN THE APP</a>
							<p class="qr-notification">ACCEPT REQUEST TO CONNECT!</p>
						</div>
					</div><!-- /.block-id-->
					<div class="block block-id bg-white block-error display-none" id="id-block-error">
						<div class="block-id-avatar">
							<i class="far fa-exclamation-triangle"></i>
						</div>
						<div class="block-id-name">
							<h4>This is not a valid Berty Key</h4>
						</div>
					</div><!-- /.block-error -->
				</div>
		</div>
		<div class="row justify-content-center">
			<div>
				<p class="qr-ques">Don’t have the Berty app yet?</p>
				<div class="app-button-wrap">
					<a href="https://play.google.com/store/apps/details?id=tech.berty.android" target="_blank" class="app-button"><img src="../img/Play store.png" alt=""></a>
					<a href="https://apps.apple.com/tt/app/berty/id1535500412" target="_blank" class="app-button"><img src="../img/app store.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mob">
			<div>
				<img class="mockup" src="../img/iPhone_12_Pro-doublemock.png" alt="">
				<a href="/features/" class="qr-ore-btn"><img src="../img/birty white.png" alt="">More about Berty.tech</a>
			</div>
		</div>
	</div><!-- /.container -->
</section>
