<section class="section-blocks-3">
  <div class="row">
    <div class="col-lg-4">
      <div class="block bg-white block-wi text-center">
       <div class="block-wi-img m">
        {{ $img := .Page.Resources.GetMatch "icon_dev.png" }}
         {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" "120" "height" "120") }}
       </div><!-- /.block-f-img -->
       <h2>Developers</h2>
       <p>
        Review docs
        <br />
        Propose changes
      </p>
      <a class="btn btn-bty btn-blue" href="/docs" role="button"><i class="far fa-file-alt"></i>Read the docs</a>
      <a class="btn btn-bty btn-blue" href="https://github.com/berty" role="button"><i class="fab fa-github"></i>Github</a>
    </div><!-- /.block-wi -->
  </div><!-- /.col -->
  <div class="col-lg-4">
    <div class="block bg-white block-wi text-center">
     <div class="block-wi-img m">
      {{ $img := .Page.Resources.GetMatch "icon_translate.png" }}
      {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" "120" "height" "120") }}
    </div><!-- /.block-f-img -->
    <h2>Translators</h2>
    <p>
      Review translations
      <br />
    Propose new languages</p>
    <a class="btn btn-bty btn-yellow" href="{{ .Site.Params.crowdinUrl}}" rel="noopener" target="_blank"><i class="far fa-globe"></i>Crowdin</a>
  </div><!-- /.block-ci -->
</div><!-- /.col -->
<div class="col-lg-4">
  <div class="block bg-white block-wi text-center">
   <div class="block-wi-img m">
    {{ $img := .Page.Resources.GetMatch "icon_crypto.png" }}
    {{ partial "img" (dict "ctx" . "src" $img.RelPermalink "width" "120" "height" "120") }}
  </div><!-- /.block-f-img -->
  <h2>Crypto Specialists</h2>
  <p>
    Review the Berty protocol
    <br />
    Perform a security audit
  </p>
  <a class="btn btn-bty btn-pink" href="/docs/protocol" role="button"><i class="far fa-file-alt"></i>Read the Wesh Protocol</a>
</div><!-- /.block-ci -->
</div><!-- /.col -->
</div><!-- /.row -->
</section><!-- /.section-blocks-3 -->