

			<div class="col-lg-4 col-md-6">
				<a class="portfolio-item" href="{{ `daniel_ellsberg/` | absLangURL }}">
					<div class="portfolio-top">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="{{ `img/art/project_4.jpg` | absURL }}" alt="">
					</div>
					<div class="portfolio-caption">
						<h4>Kay Parker</h4>
						<p class="text-muted">{{ i18n "a_portrait_by" . | markdownify }} Paul Garland</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<a class="portfolio-item" href="{{ `daniel_ellsberg/` | absLangURL }}">
					<div class="portfolio-top">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="{{ `img/art/project_5.jpg` | absURL }}" alt="">
					</div>
					<div class="portfolio-caption">
						<h4>Larry Berg</h4>
						<p class="text-muted">{{ i18n "a_portrait_by" . | markdownify }} John Parker</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<a class="portfolio-item" href="{{ `daniel_ellsberg/` | absLangURL }}">
					<div class="portfolio-top">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-plus fa-3x"></i>
							</div>
						</div>
						<img class="img-fluid" src="{{ `img/art/project_6.jpg` | absURL }}" alt="">
					</div>
					<div class="portfolio-caption">
						<h4>Julia Smith</h4>
						<p class="text-muted">{{ i18n "a_portrait_by" . | markdownify }} Diana Pertersen</p>
					</div>
				</a>
			</div>
