  <!-- The concept -->
  <section class="page-section" id="concept">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ i18n "concept_title" . | markdownify }}</h2>
          <!--<h3 class="section-subheading text-muted"></h3>-->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="block-concept">
            <img class="img-fluid mx-auto" src="/img/art/artist.png" alt="">
            <h5>{{ i18n "concept_1" . | markdownify }}</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block-concept">
            <img class="img-fluid mx-auto" src="/img/art/heart.png" alt="">
            <h5>{{ i18n "concept_2" . | markdownify }}</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block-concept">
            <img class="img-fluid mx-auto" src="/img/art/raise.png" alt="">
            <h5>{{ i18n "concept_3" . | markdownify }}</h5>
          </div>
        </div>
      </div>
    </div>
  </section>