{{.Scratch.Set "navbar-class" "navbar-home" }}
{{ partial "head" . }}

<section class="section-header">
	<div class="section-bg bg-purple gradient">
		<div class="particles" id="particles-js-1"></div>
		<img src="/img/wave_blue.svg" class="img img-wave">
		<div class="container">	
			<div class="img img-planet-purple">
				{{ partial "img" (dict "ctx" . "src" "/img/planet_purple.png" "layout" "fill")}}
			</div>
			<div class="img img-planet-pink">
				{{ partial "img" (dict "ctx" . "src" "/img/planet_pink.png" "layout" "fill")}}
			</div>
		</div><!-- /.container -->
		<img src="/img/wave_bottom.svg" class="img img-wave-bottom">
		<div class="img img-planet-orange">
			{{ partial "img" (dict "ctx" . "src" "/img/planet_orange.png" "layout" "fill")}}
		</div>
	</div><!-- /.header-bg -->
	<div class="section-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 header-left">
					<h1>Pioneering Decentralized Communication Tools</h1>
					<br>
          <h4><a href="https://github.com/berty/berty">Berty Messenger</a>, built on <a href="https://wesh.network">Wesh Network</a>, is a concrete demonstration of Berty Technologies' pledge to privacy in the realm of decentralization</h4>
					<div class="download-button">
						<a href="https://play.google.com/store/apps/details?id=tech.berty.android" target="_blank" rel="noopener noreferrer">
							<img src="/img/google-play-logo.png" alt="Google play store">
						</a>
						<a href="https://apps.apple.com/tt/app/berty/id1535500412" target="_blank" rel="noopener noreferrer">
							<img src="/img/app-store-logo.png" alt="Apple store">
						</a>
					</div>
				</div><!-- /.col /.header-left -->
	      		<div class="col-md-6 header-right">
	      			<div class="img-phone phone-right android">
						<img src="/img/screen_android.svg" class="img">
					</div> 
					<div class="img-phone phone-left ios">
						<img src="/img/screen_ios.svg" class="img">
					</div>
				</div><!-- /.col /.header-right -->
	    	</div><!-- /.row -->
	  	</div><!-- /.container -->
  	</div><!-- /.header-content -->
</section>

{{ partial "section_features" . }}

{{ partial "section_more" . }}

{{ partial "section_articles" . }}

{{ partial "section_newsletter" . }}

{{ partial "footer" . }}

<script src="{{ (resources.Get `js/lottie.js` | resources.Minify | fingerprint).RelPermalink }}"></script>
<script>
	lottie.loadAnimation({
		container: document.getElementById('distributed_web_anim'),
		renderer: 'svg',
		loop: true,
		autoplay: true,
		path: '.{{ (resources.Get "animations/distributed_web_anim.json").RelPermalink }}'
	});
</script>
