{{.Scratch.Set "body-class" "page-single wh"}}
{{ partial "head" . }}

<header class="header-rounded large {{ if .Params.Hclass }}{{.Params.Hclass}}{{ else }}bg-blue gradient{{ end }}" {{ with .Params.image_bg }}style="background-image:url('{{ ($.Page.Resources.GetMatch .).RelPermalink }}')"{{end}}>
  <div class="container text-center">
    <h1 class="text-shadow">{{.Title}}</h1>
    {{ if .Params.Subtitle }}
    <h3 class="text-shadow subtitle">{{.Params.Subtitle | markdownify }}</h3>
    {{ end }}
  </div><!-- /.container -->
</header>

<div class="content">
  <section class="section-about top">
    <div class="container">
      {{ $table := .Site.GetPage "/compare-table-apps" }}
      {{ $apps := $table.Resources.Match "*" }}
      <div class="row" style="padding-bottom: 80px;">
        <div class="col-md-12">
          <div class="compare-table table-responsive-md">
            <table class="compare-table-inner table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Feature</th>
                  {{ range $apps }}
                  <th scope="col">{{ .Title }}</th>
                  {{ end }}
                </tr>
              </thead>
              <tbody>
                {{ range $key, $value := $table.Params.compared_items }}
                {{ $compare_key := $key }}
                <tr>
                  <th scope="row">{{ $value }}</th>
                  {{ range $apps }}
                  {{ $value := (index .Params $key) | lower }}
                  <td class="compare-value value-{{ $value | lower }}">
                    {{ if eq $value "true" }}
                    <i class="far fa-check"></i>
                    {{ else if eq $value "false" }}
                    <i class="fal fa-times"></i>
                    {{ else if eq $value "?" }}
                    <i class="fal fa-question-circle"></i>
                    {{ else }}
                    {{ $value }}
                    {{ end }}
                  </td>
                  {{ end }}
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </section>
</div>

{{ partial "footer" . }}
