{{.Scratch.Set "body-class" "page-single wh bg-blue id-page"}}
{{ partial "head" . }}
{{ $ctx := . }}

<header class="header-rounded large">
  <div class="container text-center">
    <h1 class="text-shadow">{{.Title}}</h1>
    {{ if .Params.Subtitle }}
    <h3 class="text-shadow subtitle d-flex justify-content-center">
      <div><strong>{{.Params.Subtitle }}</strong></div> 
      <div class="counter-badge">1</div>
    </h3>
    {{ end }}
  </div>
</header>

<div class="content">
  <div class="container">
    
    <section class="section-id">
      <div class="container">
        <div class="row justify-content-center">
          <div class="block-loader" id="id-block-loader">
            <img src="../img/berty_loader_dots.gif" />
          </div>
        </div>
        <div class="row justify-content-center">

          <!-- Download Berty -->
          <div class="col-lg-4 text-center order-2 order-lg-1 mb-5">
            {{ with .Page.Params.download_berty }}
            <div class="block download-berty-block bg-white h-100">
              <div class="h-100 d-flex flex-column">
                <h3 class="c-blue mb-4">
                  <strong>{{.title}}</strong>
                </h3>
                <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                  <div class="berty-logo w-100">
                    {{ partial "img" (dict "ctx" $ctx "src" $.Site.Params.logoSVG "width" "300" "height" "150") }}
                  </div>
                </div>
                <div>
                  <p class="c-grey">{{.body}}</p>
                  <a class="btn btn-bty btn-blue icon-right" href="{{ `/download` | relLangURL }}" role="button">
                    <strong>{{ .button_text | upper }}</strong>
                  </a>
                </div>
              </div>
            </div>
            {{ end }}
          </div>

          <!-- QR code -->
          <div class="col-lg-4  order-1 order-lg-2 mb-5">

            <div class="block block-id bg-white display-none h-100" id="id-block-id">
              <div class="block-id-avatar display-none" id="id-initials"></div>
              <div class="block-id-name c-name"></div>
              <div class="block-id-qrcode" id="id-qrcode"></div>
            </div>
            <div
              class="block block-id bg-white block-error display-none"
              id="id-block-error"
            >
              <div class="block-id-avatar">
                <i class="far fa-exclamation-triangle"></i>
              </div>
              <div class="block-id-name">
                <h4>This is not a valid Berty Key</h4>
              </div>
            </div>
          </div>

          <!-- What is Berty -->
          <div class="col-lg-4 order-3 mb-5">
            {{ with .Page.Params.what_is_berty }}
            <div class="block what-is-berty-block bg-white text-center h-100">
              <h3 class="c-blue mb-4">
                <strong>{{.title}}</strong>
              </h3>
              <div class="row">
                {{ $color_classes := slice "c-yellow" "c-pink" "c-blue" "c-fakeblack" }}
                {{ range $index, $el := .items }}
                {{ $color_class := index $color_classes $index }}
                {{ $is_image := hasPrefix .icon "/" }}
                <div class="col-6 px-1">
                  <div class="{{ $color_class }} icon">
                  {{ if $is_image }}
                    {{ partial "img" (dict "ctx" $ctx "src" .icon "width" "80" "height" "60") }}
                  {{ else }}
                    <i class="{{.icon}}"></i>
                  {{ end }}
                  </div>
                  <h4>{{.title}}</h4>
                  <p class="c-grey">{{.body | safeHTML }}</p>
                </div>
                {{ end }}
              </div>
              <p>{{.body}}</p>
              <a class="btn btn-bty btn-blue icon-right" href="{{ `/about` | relLangURL }}" role="button">
                <strong>{{ .button_text | upper }}</strong>
              </a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

{{ partial "footer" . }}
