{{.Scratch.Set "body-class" "page-single wh roadmap-page"}}
{{ partial "head" . }}

{{ $all_phases := .Params.previous_phases_items | append .Params.upcoming_phases_items }}
{{ $hero_card_colors := slice "#272FCC" "#ffbf47" "#f54967" "#51cfa4"}}
{{ $active_index := 5 }}

<header class="header-rounded large {{ if .Params.Hclass }}{{.Params.Hclass}}{{ else }}bg-blue gradient{{ end }}" {{ with .Params.image_bg }}style="background-image:url('{{ ($.Page.Resources.GetMatch .).RelPermalink }}')"{{end}}>

</header>

<div class="content" style="margin-bottom: -225px;">
  
  <section class="section-blocks-3">
    <div class="container">
      <div class="row">

        <!-- Hero cards -->
        {{ range $i, $el := .Params.hero_cards }}
        <div class="col-lg-3">
          <div class="block block-wi hero-card" style="background: {{ index $hero_card_colors $i }};">
            <h1>{{$el | safeHTML }}</h1>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </section>

  <!-- Vision -->
  <section id="vision" class="vision" style="background-image: url({{($.Resources.GetMatch `curve_bg.svg`).RelPermalink}});">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">
            {{ upper .Params.vision_title }}
          </h3>
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5">
          <div class="vision__image">
            <img src="1_berty_rocket.svg" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6 vision__text">
          {{ .Params.vision_body | markdownify }}
          <div class="d-flex justify-content-end">
            <div class="vision__text__signature">
              <span class="vision__text__signature__name">Berty Core Crew</span><br/>
              <span class="vision__text__signature__place">Paris, France</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Previous phases -->
  <section id="previous-phases" class="phase_cards pb-5">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">
            {{ upper .Params.previous_phases_title }}
          </h3>
        </div>
      </div>
      <div class="row justify-content-between">
        {{ range $i, $el := .Params.previous_phases_items }}
        {{ $is_active := le $i $active_index }}
        <div class="col-lg-3">
          <div class="block block-wi text-center bg-white phase_cards__item {{ if $is_active }}active{{end}}">
            {{ if $is_active }}
            <div class="phase_cards__item__check">
              {{ ($.Resources.GetMatch "check-green.svg").Content | safeHTML }}
            </div>
            {{ end }}
            <div class="phase_cards__item__icon">
              {{ ($.Resources.GetMatch .icon).Content | safeHTML }}
            </div>
            <h6 class="phase_cards__item__title">{{.title}}</h6>
            <p class="phase_cards__item__subtitle">{{.subtitle | safeHTML}}</p>
          </div>
        </div>
       {{ end }}
      </div>
    </div>
  </section>

  <!-- Upcoming phases -->
  <section id="upcoming-phases" class="phase_cards">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">
            {{ upper .Params.upcoming_phases_title }}
          </h3>
        </div>
      </div>
      <div class="row justify-content-between">
        {{ range $i, $el := .Params.upcoming_phases_items }}
        {{ $is_active := le (add $i 4) $active_index }}
        <div class="col-lg-3">
          <div class="block block-wi text-center bg-white phase_cards__item {{ if $is_active }}active{{end}}">
            {{ if $is_active }}
            <div class="phase_cards__item__check">
              {{ ($.Resources.GetMatch "check-green.svg").Content | safeHTML }}
            </div>
            {{ end }}
            <div class="phase_cards__item__icon">
              {{ ($.Resources.GetMatch .icon).Content | safeHTML }}
            </div>
            <h6 class="phase_cards__item__title">
              {{.title}}
            </h6>
            <p class="phase_cards__item__subtitle">
              {{.subtitle | safeHTML}}
            </p>
          </div>
        </div>
       {{ end }}
      </div>
    </div>
  </section>

  <!-- Roadmap -->
  <section id="roadmap" class="roadmap" style="background: url({{($.Resources.GetMatch "background_jungle.svg").RelPermalink}});">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-12 text-center">
          <h3 class="text-white font-weight-bold">
            {{ upper .Params.roadmap_title }}
          </h3>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <div class="block block-wi bg-white h-100" style="padding-left: 60px; padding-right: 60px;">
            {{with .Params.roadmap_card}}
            <div class="text-center mb-4">
              {{ ($.Resources.GetMatch "graph.svg").Content | safeHTML }}
              <h2>{{.title}}</h2>
              <h4>{{.subtitle}}</h4>
              <h4>{{.intro_title}}</h4>
              {{.intro_body|markdownify}}
            </div>
            {{end}}

            <!-- Challenges -->
            <div class="mb-5">
              <div class="text-white py-2 text-center mb-4" style="background: #272FCC; border-radius: 4px;">
                {{ .Params.challenges_title }}
              </div>
              {{range $i, $el := .Params.challenges_items}}
              <div style="display: flex; align-items: center; margin-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                <div style="width: 30px; height: 30px; border: 1px solid #22AA21;border-radius: 4px; color: #22AA21; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                  <i class="far fa-check"></i>
                </div>
                <p class="mb-0">{{.}}</p>
              </div>
              {{end}}
            </div>

            <!-- Android bugs -->
            <div class="mb-5">
              <div class="text-white py-2 text-center mb-4" style="background: #4044C1; border-radius: 4px;">
                {{ .Params.android_bugs_title }}
              </div>
              {{range $i, $el := .Params.android_bugs_items}}
              <div style="display: flex; align-items: center; margin-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                <div style="width: 30px; height: 30px; border: 1px solid #22AA21;border-radius: 4px; color: #22AA21; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                  <i class="far fa-check"></i>
                </div>
                <p class="mb-0">{{.}}</p>
              </div>
              {{end}}
            </div>

            <!-- Documentation -->
            <div class="mb-5">
              <div class="text-white py-2 text-center mb-4" style="background: #303354; border-radius: 4px;">
                {{ .Params.documentation_title }}
              </div>
              {{range $i, $el := .Params.documentation_items}}
              <div style="display: flex; align-items: center; margin-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                <div style="width: 30px; height: 30px; border: 1px solid #22AA21;border-radius: 4px; color: #22AA21; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                  <i class="far fa-check"></i>
                </div>
                <p class="mb-0">{{.}}</p>
              </div>
              {{end}}
            </div>

            <div class="text-center">
              <a class="btn btn-bty btn-yellow" href="https://github.com/sponsors/berty" target="_blank">
                <i class="fab fa-github"></i> {{.Params.roadmap_card.button_text}}
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="block block-wi bg-white h-100" style="padding-left: 60px; padding-right: 60px;">
            <div class="row">
              {{ range $i, $el := $all_phases }}
                <div class="col-lg-12" style="margin-bottom: 80px;">
                  <div class="bg-white d-flex align-items-center justify-content-between {{ if le $i $active_index }}active{{end}}">
                    <div style="width: 64px; height: 64px; background: #272FCC; border-radius: 4px; display: flex; align-items: center; justify-content: center;">
                      {{ ($.Resources.GetMatch .icon).Content | safeHTML }}
                    </div>
                    <div class="text-center">
                      <p class="mb-0">{{.title}}</p>
                      <p>{{.subtitle}}</p>
                    </div>
                    <div>{{ ($.Resources.GetMatch "check-green.svg").Content | safeHTML }}</div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

{{ partial "footer" . }}
