{{.Scratch.Set "body-class" "page-single wh"}}
{{ partial "head" . }}

<header class="header-rounded large {{ if .Params.Hclass }}{{.Params.Hclass}}{{ else }}bg-blue gradient{{ end }}" {{ with .Params.image_bg }}style="background-image:url('{{ ($.Page.Resources.GetMatch .).Permalink }}')"{{end}}>
  <div class="container text-center">
    <h1 class="text-shadow">{{.Title}}</h1>
    {{ if .Params.Subtitle }}
    <h3 class="text-shadow subtitle">{{.Params.Subtitle | markdownify }}</h3>
    {{ end }}
  </div><!-- /.container -->
</header>

<div class="content">
  <div class="container">
    {{.Content}}
  </div><!-- /.container -->
</div>

{{ partial "footer" . }}
